a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.fade-out{
  opacity: 0 !important;
  transition: 0.75s ease-in-out;
  cursor: default !important;
}

.fade-in{
  opacity: 1 !important;
  transition: 0.75s ease-in-out;
}

.playlist-fade-in{
  opacity: 0.8 !important;
  transition: 0.75s ease-in-out;
}

.playlist-fade-in:hover{
  opacity: 1 !important;
}

.home-app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: white;
}

.border{
  border: 1px solid;
  border-color: black;
  width: 80vw;
  max-width: 500px;
  max-height: 500px;
}

.home-logo{
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
}

.home-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.home-text{
  display: flex;
  justify-content: flex-end;

  /* padding-top: 2px; */
}

.text-box{
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -14px;
  background: white;
  height: 16px;
  width: 185px;
}

.overlay-text{
  font-size: 60px;
  opacity: 0;

  z-index: 7;
  position: relative;
}

.playlist-data-title{
  position: fixed;
  
  height: 80px;
  width: 120px;

  overflow-wrap: break-word;
  pointer-events: none;

  top: 100px;
  left: 50px;

  z-index: 7;
}

.playlist-tracks{
  position: fixed;
  
  width: 80%;

  overflow-wrap: break-word;
  pointer-events: none;

  top: 200px;
  left: 80px;
  font-size: 24px;
}

.playlist-track{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px
}

.playlist-data-link{
  position: fixed;

  bottom: 50px;
  right: 100px;
  width: 200px;
}

.normal-link{
  color: black;
  text-decoration: none;
  text-align: right;
}

.track-id {
  text-align: right;
  width: 30px;
  padding-right: 20px;
  font-weight: 400;
}

.track-name {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .text-box{
    font-size: 10px;
    width: 160px;
  }

  .playlist-tracks{
    width: calc(80% - 40px);
    left: 40px;
    font-size: 16px;
  }
}