a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  background: #fffcfa;
}

.fade-out{
  opacity: 0 !important;
  transition: 0.75s ease-in-out;
  cursor: default !important;
}

.fade-in{
  opacity: 1 !important;
  transition: 0.75s ease-in-out;
}

.playlist-fade-in{
  opacity: 0.8 !important;
  transition: 0.75s ease-in-out;
}

.playlist-fade-in:hover{
  opacity: 1 !important;
}

.home-app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: #fffcfa;
}

.border{
  border: 1px solid;
  border-color: black;
  width: 80vw;
  max-width: 500px;
  max-height: 500px;
}

.home-logo{
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
}

.home-text{
  display: flex;
  justify-content: flex-end;

  /* padding-top: 2px; */
}

.overlay-text{
  font-size: 60px;
  opacity: 0;

  z-index: 10;
  position: relative;
}

.playlist-data-title{
  position: fixed;
  
  height: 80px;
  width: 120px;

  overflow-wrap: break-word;
  pointer-events: none;

  top: 100px;
  left: 50px;

  z-index: 7;
}

.playlist-tracks{
  position: fixed;
  
  width: 80%;

  overflow-wrap: break-word;
  pointer-events: none;

  top: 200px;
  left: 80px;
  font-size: 24px;
}

.playlist-track{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;

  text-transform: lowercase;
}

.playlist-data-link{
  position: fixed;

  bottom: 50px;
  right: 100px;

  display: flex;

  font-size: 36px;
}

.normal-link{
  color: black;
  text-decoration: none;
  text-align: right;
  padding: 0px 10px;
}

.spacing-link{
  padding-left: 20px;
  padding-right: 20px;
}

.track-id {
  text-align: right;
  width: 30px;
  padding-right: 10px;
  font-size: 16px;
}

.track-name {
  width: 100%;
  position: relative;
  top: -5px;
}

@media only screen and (max-width: 480px) {
  .text-box{
    font-size: 10px;
    width: 160px;
  }

  .playlist-tracks{
    width: calc(80% - 40px);
    left: 40px;
    font-size: 16px;
  }

  .overlay-text{
    font-size: 40px;
  }

  .track-id {
    font-size: 12px;
  }

  .track-name {
    font-size: 16px;
    top: -2px;
  }

  .playlist-data-link{  
    font-size: 24px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  .overlay-text{
    font-size: 50px;
  }

  .track-id {
    font-size: 14px;
  }

  .track-name {
    font-size: 20px;
    top: -4px;
  }

  .playlist-data-link{  
    font-size: 30px;
  }
}




.home-image{
  padding: 12px;
  max-height: 500px;
  max-width: 500px;

  position: relative;
  top: 0px;
  left: 0px;

  border: 1px solid;
  border-color: black;

  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px #fffcfa);

  z-index: 0;
}

.home-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  max-width: 500px;
  max-height: 500px;

  transition: 0.5s ease-in-out;
}

.home-container:hover > .home-image {
  transition: 0.5s ease-in-out;

  top: -4px;
  left: -4px;

  filter: drop-shadow(4px 4px 0px #000000d0);
}

.text-box{
  transition: 0.5s ease-in-out;
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 174px;
  height: 16px;
  width: 185px;
  z-index: 2;
}

.home-container:hover > .playlist-title > .text-box {
  transition: 0.5s ease-in-out;
  top: -9px;
  left: 170px;
}

.text-box-bg-home {
  position: relative;
  top: -4px;
  left: -12px;
  background: #fffcfa;
  height: 6px;
  width: 185px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.home-container:hover > .playlist-title > .text-box-bg-home{
  top: -8px;
  left: -16px;
  height: 10px;
}

@media only screen and (max-width: 530px) {
  .home-image{
    height: calc(80% - 24px);
    width: calc(80% - 24px);
    margin: 0 auto;
  }

  .text-box{
    font-size: 12px;
    
    top: -5px;
    left: 129px;
    
    height: 16px;
    width: 185px;
  }
  
  .home-container:hover > .playlist-title > .text-box {
    top: -9px;
    left: 125px;
  }

  .text-box-bg-home {
    top: -4px;
    left: -58px;

    height: 6px;
    width: 185px;
  }
  
  .home-container:hover > .playlist-title > .text-box-bg-home{
    top: -8px;
    left: -62px;
    height: 10px;
  }
}