.playlists{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 100px;
  padding-bottom: 20px;
  background-color: white;
}

.playlist{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 166px;
  height: 166px;

  opacity: 0;

  padding: 20px;
  padding-bottom: 0px;

  cursor: pointer;
}

.small-border{
  border: 1px solid;
  border-color: black;
  width: 166px;
  height: 166px;
}

.playlist-image{
  padding: 8px;
  width: 150px;
  height: 150px;
}

.playlist-title{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.small-text-box{
  text-align: center;
  position: relative;
  top: -6px;
  left: -10px;
  background: white;
  height: 16px;
  width: 36px;

  color: black;
}

@media only screen and (min-width: 1000px) {
  .playlists{
    padding-right: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .playlists{
    padding-right: 0;
  }

  .playlist{
    width: 132px;
    height: 132px; 
  }

  .small-border{
    width: 132px;
    height: 132px; 
  }
  
  .playlist-image{
    padding: 6px;
    width: 120px;
    height: 120px;
  }
}