.playlists{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 100px;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #fffcfa;
}

.playlist{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  width: 166px;
  height: 166px;

  opacity: 0;

  padding: 10px;

  cursor: pointer;

  transition: 0.5s ease-in-out;
}


.playlist:hover > .playlist-container > .playlist-image{
  transition: 0.5s ease-in-out;
  z-index: 8;

  top: -4px;
  left: -4px;

  filter: drop-shadow(4px 4px 0px #000000d0);
}



.playlist:hover > .playlist-container > .playlist-title > .small-text-box{
  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px #fffcfa);

  position: relative;
  top: -12px;
  right: -20px;

  z-index: 11;
}

.playlist:hover > .playlist-container > .playlist-title > .text-box-bg {
  transition: 0.5s ease-in-out;
  /* filter: drop-shadow(0px 0px 0px #fffcfa); */
  top: -10px;
  right: 16px;
  height: 8px;
  z-index: 9;
}

/* top: -1px;
left: 26px;
top: -2px;
left: -10px; */

.playlist:hover > .playlist-container > .playlist-title > .text-box-bg-shadow {
  transition: 0.5s ease-in-out;
  top: -6px;
  left: -15px;
  height: 4px;
  
  z-index: 9;

}

.playlist-image{
  padding: 8px;
  width: 150px;
  height: 150px;

  position: relative;
  top: 0px;
  left: 0px;

  border: 1px solid;
  border-color: black;

  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px #fffcfa);
  
  z-index: 3;
}

.playlist-container{
  position: absolute;
}

.playlist-image-top {
  transition: 0.5s ease-in-out;

  position: absolute;
  width: 150px;
  height: 150px;

  top: 9px;
  left: 9px;
  
  z-index: 20;
}

.playlist-image-top-hover {
  transition: 0.5s ease-in-out;

  position: absolute;
  width: 150px;
  height: 150px;

  top: 5px;
  left: 5px;
  
  z-index: 20;
}

.playlist-title{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.small-text-box{
  text-align: center;
  position: relative;
  top: -8px;
  right: -24px;
  color: black;
  height: 16px;
  width: 36px;

  z-index: 10;

  transition: 0.5s ease-in-out;

  filter: drop-shadow(0px 0px 0px #fffcfa);
}



.text-box-bg {
  position: relative;
  top: -6px;
  right: 12px;
  background: #fffcfa;
  height: 6px;
  width: 36px;
  z-index: 9;
  
  

  transition: 0.5s ease-in-out;
}

.text-box-bg-shadow {
  position: relative;
  top: 2px;
  left: -10px;
  background: #fffcfa;
  height: 4px;
  width: 36px;
  z-index: 9;

  transition: 0.5s ease-in-out;
}



@media only screen and (min-width: 1000px) {
  .playlists{
    padding-right: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .playlists{
    padding-right: 10px;
  }

  .playlist{
    width: 132px;
    height: 132px; 
  }

  .small-border{
    width: 132px;
    height: 132px; 
  }
  
  .playlist-image{
    position: relative;
    top: 0px;
    left: 0px;
    
    width: 120px;
    height: 120px;
  }

  .playlist-image-top{
    position: absolute;
    top: 3px;
    left: 3px;

    width: 120px;
    height: 120px;
  }

  .playlist-image-top-hover {
    position: absolute;
    width: 120px;
    height: 120px;
  
    top: 5px;
    left: 5px;
  }
}