.playlists{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 100px;
  padding: 10px;
  padding-bottom: 15px;
  background-color: white;
}

.playlist{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  width: 166px;
  height: 166px;

  opacity: 0;

  padding: 10px;

  cursor: pointer;

  transition: 0.5s ease-in-out;
}


.playlist:hover > .playlist-image{
  transition: 0.5s ease-in-out;
  z-index: 8;

  top: -4px;
  left: -4px;

  filter: drop-shadow(4px 4px 0px #2d2d2d);
}
.playlist:hover > .playlist-title > .small-text-box{
  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px white);

  position: relative;
  top: -9px;
  right: -56px;

  z-index: 10;
  /* text-shadow: 2.2px 1.6px 0.75px #e0e0e0; */
}

.playlist:hover > .playlist-title > .text-box-bg {
  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px white);
  top: -5px;
  left: 22px;
  height: 4px;
  
  z-index: 9;
}

/* top: -1px;
left: 26px;
top: -2px;
left: -10px; */

.playlist:hover > .playlist-title > .text-box-bg-shadow {
  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px white);
  top: -2px;
  left: -16px;
  height: 4px;
  
  z-index: 9;

}

.playlist-image{
  padding: 8px;
  width: 150px;
  height: 150px;

  position: relative;
  top: 0px;
  left: 0px;

  border: 1px solid;
  border-color: black;

  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px white);
  
  z-index: 3;
}

.playlist-title{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.small-text-box{
  text-align: center;
  position: relative;
  top: -5px;
  right: -62px;
  color: black;
  height: 16px;
  width: 36px;

  z-index: 10;

  transition: 0.5s ease-in-out;

  filter: drop-shadow(0px 0px 0px white);
  font-style: oblique;
}



.text-box-bg {
  position: relative;
  top: -1px;
  left: 26px;
  background: white;
  height: 4px;
  width: 36px;
  z-index: 4;
}

.text-box-bg-shadow {
  position: relative;
  top: -2px;
  left: -10px;
  background: white;
  height: 3px;
  width: 36px;
  z-index: 9;
}


@media only screen and (min-width: 1000px) {
  .playlists{
    padding-right: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .playlists{
    padding-right: 10px;
  }

  .playlist{
    width: 132px;
    height: 132px; 
  }

  .small-border{
    width: 132px;
    height: 132px; 
  }
  
  .playlist-image{
    padding: 6px;
    width: 120px;
    height: 120px;
  }
}